<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yqm.common.mapper.YqmStoreProductMapper">


    <select id="getMaxSort" resultType="int">
        select max(sort)
        from yqm_store_product
    </select>

    <update id="topSort">
        update yqm_store_product
        set sort         = 1,
            updated_by   = #{userId},
            updated_time = now()
        where id = #{id}
    </update>

    <update id="minusOneSort">
        update yqm_store_product
        set sort         = sort + 1,
            updated_by   = #{userId},
            updated_time = now()
    </update>

</mapper>