<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yqm.common.mapper.YqmStoreSkuMapper">

    <resultMap id="yqmProductSkuInventoryResultMap" type="com.yqm.common.entity.YqmProductSkuInventory">
        <result column="product_id" property="productId"/>
        <result column="inventory" property="inventory"/>
    </resultMap>

    <resultMap id="yqmProductSalesResultMap" type="com.yqm.common.entity.YqmProductSales">
        <result column="product_id" property="productId"/>
        <result column="sales" property="sales"/>
    </resultMap>

    <select id="getProductSkuInventory" resultMap="yqmProductSkuInventoryResultMap">
        select product_id, IFNULL(SUM(inventory), 0) as inventory
        from yqm_store_sku
        where `status` = 'success'
        <if test="productIdList != null">
            <trim prefix="and" prefixOverrides="and">
                product_id in
                <foreach collection="productIdList" separator="," open="(" close=")" item="item">
                    #{item}
                </foreach>
            </trim>
        </if>
        GROUP BY product_id
    </select>

    <select id="getProductSales" resultMap="yqmProductSalesResultMap">
        select product_id, IFNULL(SUM(num), 0) as sales
        from yqm_order_item
        where `status` = 'success'
        <if test="productIdList != null">
            <trim prefix="and" prefixOverrides="and">
                product_id in
                <foreach collection="productIdList" separator="," open="(" close=")" item="item">
                    #{item}
                </foreach>
            </trim>
        </if>
        GROUP BY product_id
    </select>

</mapper>